table#deviceTable.table.table-striped
  thead
    tr
      th STT
      th Thiết bị
      th Trạng thái
      th Thời điểm
  tbody 
    - var cnt = (currentPage - 1) * limit + 1
    each item in data
      tr
        td #{cnt++}
        td #{item.Name}
        td #{item.TT}
        td #{item.DateandHour}
if totalPages > 1
  nav
    ul.pagination
      if currentPage > 1
        li.page-item
          a.page-link(href=`?deviceFilter=${deviceFilter}&page=${currentPage - 1}&limit=${limit}`) Trang Trước
      else
        li.page-item.disabled
          span.page-link Trang Trước
      each page in [...Array(totalPages).keys()].map(i => i + 1)
        if page === currentPage
          li.page-item.active
            span.page-link #{page}
        else
          li.page-item
            a.page-link(href=`?deviceFilter=${deviceFilter}&page=${page}&limit=${limit}`) #{page}
      if currentPage < totalPages
        li.page-item
          a.page-link(href=`?deviceFilter=${deviceFilter}&page=${currentPage + 1}&limit=${limit}`) Trang Sau
      else
        li.page-item.disabled
          span.page-link Trang Sau
